@using daslib
@inherits ViewPage<viewer.WebStuff.Models.Types.DefaultData>

@section PageScripts {
	<script type="text/javascript" src="/assets/js/jeresig.jquery.hotkeys.js"></script>
	<script type="text/javascript" src="/assets/js/default-init.js"></script>
}

	<div class="row">
		<div class="col-md-12 text-center">
			<p>The database contains @(String.Format("{0:#,##0}", Model.NumberOfNames)) names!!</p>
		</div>
	</div>


	<div id="pagination">
		<div class="row">
			<div class="col-md-2">
				<a href="/default/@(Model.Paginator.FirstPage)" class="btn btn-default">First</a>

				<a href="/default/@(Model.Paginator.PrevPage)" class="btn btn-primary" id="prev">Prev</a>
			</div>

			<div class="col-md-8 text-center">
				@foreach (int page in Model.Paginator.PagesBefore) {
					<a href="/default/@(page)" class="btn">@(page+1)</a>
				}

				<a href="/default/@(Model.Paginator.CurrentPage)" class="btn btn-default">@(Model.Paginator.CurrentPage+1)</a>

				@foreach (int page in Model.Paginator.PagesAfter) {
					<a href="/default/@(page)" class="btn">@(page+1)</a>
				}
			</div>

			<div class="col-md-2 text-right">
				<a href="/default/@(Model.Paginator.NextPage)" class="btn btn-primary" id="next">Next</a>

				<a href="/default/@(Model.Paginator.LastPage)" class="btn btn-default">Last</a>
			</div>
		</div>
	</div>


	<div id="names">
	@{int count = 0;}
	@foreach (NameEntry entry in Model.Names) {
		if (count == 0) {
			@: <div class="row">
		}

		<div class="col-md-2 name @(entry.IsValid ? "" : "invalid")">
			@(entry.Name)
		</div>

		if (count == 5) {
			@: </div>
			count = -1;
		}

		count += 1;
	}
	</div>
